@charset "utf-8";

@import "./parts/common";

// @import url(http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
// @import url(http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
// @import url(https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css);

body {
	font-family: $font-stack; 
	color: $primary-color;
	line-height: 1.3; 
}
img {
	max-width: 100%;
}

/* 해더 영역 */
.header {

}
/* 푸터 영역 */
.footer {
	
}