@charset "utf-8";
// --------------
// Scss변수
// --------------
// 주요 폰트 및 벌러
$font-stack: "Noto Sans KR", sans-serif;
$primary-color: #333;
// 폰트
// $font-nnGothic: "Nanum Gothic", Sans-serif;
// $font-nnSquare: "Nanum Square", "NanumSquare", Sans-serif;
// $font-nnrSquare: "NanumSquareRound", Sans-serif;
// 색상
$fg-name: #0041e7;
// 배경
$bg-name: #0041e7;
